.header {
  text-align: center;
}
.place1 {
  margin-left: 5em;
  padding: 12px 15px 10px 15px;
  background-color: skyblue;
}
.place2 {
  margin-left: 5em;
  padding: 12px 15px 10px 15px;
  background-color: skyblue;
}
.inputfield {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}
.submit {
  margin-left: 5em;
  color: green;
  background-color: palegreen;
}
